<a href="https://colab.research.google.com/github/husnulkhotimah-husnulkhotimah/SQL/blob/main/SQL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip3 install mysql-connector

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting mysql-connector
  Downloading mysql-connector-2.2.9.tar.gz (11.9 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 11.9/11.9 MB 62.7 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Building wheels for collected packages: mysql-connector
  Building wheel for mysql-connector (setup.py) ... done
  Created wheel for mysql-connector: filename=mysql_connector-2.2.9-cp38-cp38-linux_x86_64.whl size=247965 sha256=bbd60989d80a09932c6f32d3ab364192470ad571b7ad4ed14c207d5c256a6160
  Stored in directory: /root/.cache/pip/wheels/57/e4/98/5feafb5c393dd2540e44b064a6f95832990d543e5b4f53ea8f
Successfully built mysql-connector
Installing collected packages: mysql-connector
Successfully installed mysql-connector-2.2.9

In [ ]:
import warnings
warnings.filterwarnings('ignore')

from sqlalchemy import create_engine

import numpy as np
import pandas as pd

In [ ]:
username = 'guest'
password = 'relational'
host = 'relational.fit.cvut.cz'
port = '3306'
database = 'restbase'

engine = create_engine(f"mysql+mysqlconnector://{username}:{password}@{host}/{database}")

In [ ]:
def querying(query, engine):
    df = pd.read_sql(query, engine)
    return df

In [ ]:
query='''
       show tables
      '''

tables = querying(query, engine)

for i in tables['Tables_in_restbase']:
  query='''
      select * from ''' + i + '''
      limit 5

  '''

  print('TABLE:', i)
  print(querying(query, engine))
  print()

TABLE: generalinfo
   id_restaurant                 label      food_type           city  review
0              1        sparky's diner  24 hour diner  san francisco     2.3
1              2  kabul afghan cuisine        afghani     san carlos     3.8
2              3    helmand restaurant        afghani  san francisco     4.0
3              4         afghani house        afghani      sunnyvale     3.6
4              5   kabul afghan cusine        afghani      sunnyvale     3.7

TABLE: geographic
              city               county    region
0          alameda       alameda county  bay area
1            alamo  contra costa county  bay area
2           albany       alameda county  bay area
3           alviso   santa clara county  bay area
4  american canyon              unknown  bay area

TABLE: location
   id_restaurant  street_num        street_name           city
0              1         242          church st  san francisco
1              2         135     el camino real     san carlos
2              3         430           broadway  san francisco
3              4        1103  e. el camino real      sunnyvale
4              5         833  w. el camino real      sunnyvale

In [ ]:
# select table
query='''
    SELECT * FROM generalinfo
'''

df = querying(query, engine)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9590 entries, 0 to 9589
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id_restaurant  9590 non-null   int64
 1   label          9590 non-null   object
 2   food_type      9590 non-null   object
 3   city           9590 non-null   object
 4   review         9590 non-null   float64
dtypes: float64(1), int64(1), object(3)
memory usage: 374.7+ KB

In [ ]:
# cek 5 data pertama
query='''
    SELECT * FROM generalinfo
    LIMIT 5
'''

querying(query, engine)

   id_restaurant                 label      food_type           city  review
0              1        sparky's diner  24 hour diner  san francisco     2.3
1              2  kabul afghan cuisine        afghani     san carlos     3.8
2              3    helmand restaurant        afghani  san francisco     4.0
3              4         afghani house        afghani      sunnyvale     3.6
4              5   kabul afghan cusine        afghani      sunnyvale     3.7